/* Point Specials and Events.................................................. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-bg {
  background-color: #1a1814;
}


.section-title {
  padding-bottom: 40px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--bs-nav-tabs-link-active-bg-);
}

section .specials {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #1a1814;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: var(--bs-nav-tabs-link-active-bg-);
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background:  rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
  }

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

.specials {
  overflow: hidden;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px;
  transition: 0.3s;
  color: #fff;
  border-radius: 0;
  border-right: 2px solid #cda45e;
  font-weight: 600;
  font-size: 15px;
}

.specials .nav-link:hover {
  color: #cda45e;
}

.specials .nav-link.active {
  color: #1a1814;
  background: #cda45e;
  border-color: #cda45e;
}

.specials .nav-link:hover {
  border-color: #cda45e;
}

.specials .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.specials .details p {
  color: #aaaaaa;
}

.specials .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
}

.events {
  background: url(/photos/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.events::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #cda45e;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #cda45e;
}

/* the end................................................................ */


/* .................................testimonials............................... */




body{
  font-family: "Open Sans", sans-serif;
   background: #0c0b09;
   color: #fff;
   /* background: linear-gradient(-100deg,black 59% ,deeppink 50%); */
   height: 50%;
   width: 100%;
}
.content{
 margin-top: 12%;
}

.img-text{
 width: 100%;
 height: 300px;
 display: block;
 text-align: center;
 padding: 30% 5%;
 background: gray;
 color: #fff;
 border: 1px solid grey;
}

.img-text h3{
 font-size: 15px;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.img-text h4{
 font-size: 14px;
}

.single-box{
 position: relative;
 margin-bottom: 10px;
}

.img-area{
 position: absolute;
 width: 100px;
 height: 100px;
 border:5px solid #fff ;
 overflow: hidden;
 top: 15px;
 left: 150px;
 border-radius: 50%;
}

.img-area img{
 width: 100%;  
}

.fa-quote-left{
 font-size: 30px;
 color: #d3af71;
}

.fa-quote-right{
 font-size: 26px;
 color: #d3af71;
}

