* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* ------------ Home page by: Sun Phanha --------- */
#info-topbar {
  height: 40px;
}
#homePage {
  width: 100%;
  height: 100vh;
 
}
#homePage::after {
  width: 100%;
  height: 100vh;
  content: "";
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
#homePage img {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -2;
}
.container-fluid {
  /* top: 0; */
  background-color: #0c0903;
  border-bottom: 1px solid black;
  box-shadow: #0c0b09;
  position: sticky;
}
#header .search {
  border: 2px solid var(--primary);
  color: rgb(255, 255, 255);
}
#header .search:hover {
  background: var(--primary);
}

/* =================================== Dropdown by souhea=============================== */


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #d9ba85;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #444444;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #cda45e;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}


.play-video i {
  border-radius: 50%;
  font-size: 70px;
  color: var(--primary);
}
.play-video i:hover {
  border: 10px solid rgba(205, 164, 94, 0.7);
  transition: linear 0.3s;
}
.Welcome-to-Restaurantly {
  margin-top: 40vh;
}
.Welcome-to-Restaurantly h1 {
  font-size: 56px;
  font-weight: bold;
}
.Welcome-to-Restaurantly h1 span {
  color: var(--primary);
  font-size: 56px;
  font-weight: bold;
}
.Welcome-to-Restaurantly button {
  background-color: var(--primary);
}
.Welcome-to-Restaurantly button:hover {
  background-color: var(--primary);
}
@media (max-width: 768px) {
  .homePage .info-top p {
    font-size: 14px;
    margin-left: 30px;
  }
  .homePage .info-top .swite-language {
    display: none;
  }
  .homePage li {
    text-align: center;
  }
  .Welcome-to-Restaurantly {
    margin-top: 8vh;
  }
  .homePage .search {
    width: 100%;
  }
  .about img {
    width: 100% !important;
  }
  #header  .search span{
   
    margin-left: 60px;
    
    
  }
}
/*--------------------------------------------------------------
  # Back to top button by souhea 
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  border: 2px solid #cda45e;
}

.back-to-top i {
  font-size: 28px;
  color: #cda45e;
  line-height: 0;
}

.back-to-top:hover {
  background: #cda45e;
  color: #1a1814;
}

.back-to-top:hover i {
  color: #444444;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* ------------ About by: Sun Phanha ------------- */
.about {
  background: rgb(0, 0, 0, 0.6);
  color: #fff;
}
.about-title h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.about-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}
.about-title h1 {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #cda45e;
}
.why-us {
  background: #0c0b09;
  color: #fff;
}
.why-us .card {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background: #1a1814;
}
.why-us .card:hover {
  background: #494339;
  transition: linear 1s;
  color: white !important;
}
.why-us .card h3 {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #8d5900;
}
.why-us .card h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.8);
}
.why-us .card p {
  color: #aaaaaa;
  font-size: 15px;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}
/* ------------End Of About by: Sun Phanha ------------- */

/* ------------ Menu by: Sun Phanha -------------- */
.menu {
  background-color: #1a1814;
  color: #fff;
}
.menu h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.menu h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}
.menu h1 {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #cda45e;
}
.menu .menu-status li {
  display: inline-block;
  cursor: pointer;
}
.menu .menu-status a {
  padding: 0px 20px;
}
.menu .menu-img {
  width: 70px;
  border-radius: 50%;
  float: left;
  border: 5px px solid rgba(255, 255, 255, 0.2);
}
.menu .menu-content {
  margin-left: 85px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu .menu-content::after {
  content: "......................................................................"
    "...................................................................."
    "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #bab3a6;
}
.menu .menu-ingredients {
  margin-left: 85px;
  font-style: italic;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
.menu .menu-content span {
  background: #1a1814;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
  color: #cda45e;
}
.menu .menu-content a {
  padding-right: 10px;
  background: #1a1814;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}
.menu .menu-item {
  margin-top: 50px;
}
.list{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  
  
}
.list li{
  margin:0px 15px ;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.list li::after{
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  background: #d4a373;
  height: 2px;
  left: 0%;
  transition: .3s ease-in-out;
}

.list li:hover:after{
  width: 100%;
  left: 0;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap ;
}

.box{
  width: 32%;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .image{
  width: 35%;
}

.box img{
  width: 100%;
}

.box .text{
  width: 60%;
  text-align: left;
}

.text h3{
  font-size: 18px;
}

.text hr{
  height: 2px;
  background: #d4a373;
  width: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.text i{
  color: #d4a373;
  font-size: 13px;
}

.text article{
  font-size: 14px;
}


/* ------------ Specials by: Sok Neang ---------- */

/* ----------- Events by: Sok Neang ------------- */

/* ---------- Reservation by: Sok Neang ---------- */

/* ----------- Testimonials by: Sok Neang ------- */

/* ----------- Gallery by: Pang Souhea ------------ */
.gallery {
  font-family: "Open Sans", sans-serif;
  background: #0c0b09;
  color: #fff;
}
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #454035;
  border-bottom: 3px solid #454035;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* ----------- Chefs by: Pang Souhea -------------- */

.chefs {
  font-family: "Open Sans", sans-serif;
  background: #0c0b09;
  color: #fff;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}
.chefs .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}
.chefs .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.chefs .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}
.chefs .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.chefs .member:hover.social {
  bottom: 0;
  transform: bottom ease-in-out 0.4s;
}
.chefs .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
.chefs .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}
.chefs .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}
.chefs .member .social a:hover {
  color: #cda45e;
}
.chefs .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.chefs .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}
.chefs .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}
.chefs .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}

/* ----------- Contact by: heng vibol ------------ */
:root {
  --primary: #cda45e;
  --title: #0e0e0e;
  --pharagraph: #212121;
}
/* ---------- Responsive all class container -------- */
@media (min-width: 576px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}
/* ------------ Header by: Sun Phanha ------------ */
/* ------------ Specials by: Sok Neang ---------- */

/* ----------- Events by: Sok Neang ------------- */

/* ---------- Reservation by:Heng Vibol ---------- */
.Book-Tabel {
  background-color: #0e0e0e;
  padding: 60px 0;
}
.Book-Tabel input {
  background: transparent;
  border-color: #cda45e;
}
.Book-Tabel textarea {
  background: transparent;
  border-color: #cda45e;
}
.Book-Tabel textarea::placeholder {
  color: #5a5050;
}
.Book-Tabel input::placeholder {
  color: #5a5050;
}
.Book-Tabel .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #bab3a6;
}

.Book-Tabel button {
  background-color: #cda45e;
  color: #ffffff;
  margin-top: 20px;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  border: solid #cda45e;
  text-decoration: none;
  transition: 0.3s background-color;
}

/* ----------- Testimonials  ------- */
.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(0, 17, 249, 0.2);
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: rgb(255, 255, 255);
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .fa-quote-left,
.testimonials .testimonial-item .fa-quote-right {
  color: #d3af71;
  font-size: 26px;
}

.testimonials .testimonial-item .fa-quote-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .fa-quote-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  color: aliceblue;
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #26231d;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #454035;
  border-bottom: 3px solid #454035;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
*/ .gallery .gallery-item:hover img {
  transform: scale(1.1);
}
/* ----------- Gallery by: Pang Souhea ------------ */
.gallery {
  font-family: "Open Sans", sans-serif;
  background: #0c0b09;
  color: #fff;
}
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #454035;
  border-bottom: 3px solid #454035;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* ----------- Chefs by: Pang Souhea -------------- */

.chefs {
  font-family: "Open Sans", sans-serif;
  background: #0c0b09;
  color: #fff;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}
.chefs .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}
.chefs .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.chefs .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}
.chefs .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.chefs .member:hover.social {
  bottom: 0;
  transform: bottom ease-in-out 0.4s;
}
.chefs .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
.chefs .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}
.chefs .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}
.chefs .member .social a:hover {
  color: #cda45e;
}
.chefs .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.chefs .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}
.chefs .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}
.chefs .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}

/* ----------- Contact by: heng vibol ------------ */
.contact {
  background-color: #0e0e0e;
  padding: 60px 0;
}
.section-title {
  padding-top: 50px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  /* line-height: 1px; */
  margin: 0 0 5px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}
.contact .info {
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  color: #ffffff;
  float: left;
  width: 44px;
  height: 44px;
  background: #cda45e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
  margin-top: 30px;
}
.contact .info h4 {
  color: #ffffff;
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.contact input {
  background: transparent;
  border-color: #cda45e;
}
.contact textarea {
  background: transparent;
  border-color: #cda45e;
}
.contact textarea::placeholder {
  color: #5a5050;
}
.contact input::placeholder {
  color: #5a5050;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #bab3a6;
}

.contact button {
  background-color: #cda45e;
  color: #ffffff;
  margin-top: 20px;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  border: solid #cda45e;
  text-decoration: none;
  transition: 0.3s background-color;
}

/* ----------- Footer by: heng vibol ------------- */
.footer-top {
  padding-top: 50px;
  border-top: 1px solid #37332a;
  background-color: #0c0b09;
  border-bottom: 1px solid #37332a;
  padding: 60px 0 30px 0;
}
.footer-top .footer-info h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.footer-top .footer-info p {
  padding: 12px 0;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: #fff;
}
.footer-top .social-link i {
  font-size: 14px;
  color: #ffffff;
  margin-left: 10px;
  float: left;
  width: 35px;
  height: 35px;
  background: #37332a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-top .social-link i:hover {
  background: #cda45e;
  color: #fff;
  text-decoration: none;
}
.footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  font-family: "Playfair Display", serif;
}
.footer-top .footer-link i {
  color: #cda45e;
}
.footer-top .footer-link ul li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  text-decoration-line: none;
}
.footer-top .footer-link ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}
.footer-top .footer-link ul a:hover {
  color: #cda45e;
}
.footer-top .footer-links ul a:hover {
  color: #cda45e;
}
.footer-top .footer-services ul li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  text-decoration-line: none;
}
.footer-top .footer-services ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}
.footer-top .footer-services ul a:hover {
  color: #cda45e;
}
.footer-top .footer-services i {
  color: #cda45e;
}
.footer-top .footer-newsletter p {
  color: #ffffff;
}
.footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #28251f;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #454035;
}
.footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  background: #28251f;
  color: white;
}

.footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #cda45e;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

.footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #d3af71;
}
.copyright {
  padding-top: 50px;
  background-color: #0c0b09;
  padding: 25px 0 30px 0;
}
.copyright .copyright-info {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}
.copyright .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.copyright .credits a {
  color: #d3af71;
}
